@page "/History"
@inject IAccountService AccountService
<h3>History</h3>

@if(_accounts == null)
{
	<p>No accounts yet! </p>
}
else
{
	<div class="mb-2">
		<label>Select account!</label>
		<InputSelect TValue="Guid"
					 class="form-select"
					 id="accountSelect"
					 @bind-Value="SelectedAccountId">
			@foreach(var account in _accounts)
			{
				<option value="@account.Id">@account.Name - Balance: @($"{account.Balance:N2} SEK")</option>
			}
		</InputSelect>
	</div>

	<div class="mb-2">
		<button class="btn btn-sm" @onclick="() => SetSort(SortKey.Date)">
			Sort: Date @(currentKey == SortKey.Date ? (descending ? "up" : "down") : "")
		</button>
		<button class="btn btn-sm" @onclick="() => SetSort(SortKey.Amount)">
			Sort: Amount @(currentKey == SortKey.Amount ? (descending ? "up" : "down") : "")
		</button>
	</div>
	@if (_selectedAccount == null)
	{
		<p>No transaction yet!</p>
	}
	else
	{
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Date</th>
					<th>Amount</th>
					<th>Transaction type</th>
					<th>Balance after</th>
					<th>From -> To</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var transaction in sortTransaction())
				{	<tr>
						<td>@transaction.TimeStamp.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</td>
							<td>@($"{transaction.Amount:N2} SEK")</td>
							<td>@transaction.TransactionType</td>
							<td>@($"{transaction.BalanceAfter:N2} SEK")</td>
							<td>
							@if(transaction.FromAccountId.HasValue || transaction.ToAccountId.HasValue)
							{
								<span>
									@((transaction.FromAccountId?.ToString() is string from && from.Length >= 6
										? from.Substring(0, 6) : "None"))
														
									->
									@((transaction.ToAccountId?.ToString() is string to && to.Length >= 6
										? to.Substring(0, 6) : "None"))
														
								</span>
							}
					    </td>
					</tr>
				}
			</tbody>
		</table>
	}
}


<!-- Code for the deisgn -->
@code {
	//Instance Variable
	private List<IBankAccount> _accounts = new();
	private IBankAccount? _selectedAccount;
	private Guid _selectedAccountId;

	//Start value for sorting
	private SortKey currentKey = SortKey.Date;
	private bool descending = true;

	//Enum for SortKey
	private enum SortKey
	{
		Date,
		Amount
	}

	private void SetSort(SortKey sortKey)
	{
		if(currentKey == sortKey)
		{
			descending = !descending;
		}
		else
		{
			currentKey = sortKey;
			descending = true;
		}
	}

	private Guid SelectedAccountId
	{
		get => _selectedAccountId;
		set
		{
			if (_selectedAccountId == value)
				return;
			_selectedAccountId = value;
			_selectedAccount = _accounts.FirstOrDefault(account => account.Id == value);
			StateHasChanged();
		}
	}






	protected override  async Task OnInitializedAsync()
	{
		await AccountService.EnsureLoadedAsync();
		_accounts = AccountService.GetAccounts();

		//If there is an account in our list, select the first one to display in the UI
		if(_accounts.Count > 0)
		{
			_selectedAccountId = _accounts[0].Id;
			_selectedAccount = _accounts[0];
		
		}

	}

	private IEnumerable<Transaction> sortTransaction()
	{
		if (_selectedAccount == null)
			return Enumerable.Empty<Transaction>();

		//sort list, date amount

		var sortedList = _selectedAccount.Transactions.AsEnumerable();
		sortedList = currentKey switch
		{
			SortKey.Amount => (descending
				? sortedList.OrderByDescending(t => t.Amount)
				: sortedList.OrderBy(t => t.Amount)),

			SortKey.Date => (descending 
				? sortedList.OrderByDescending(t => t.TimeStamp) 
				: sortedList.OrderBy(t => t.TimeStamp)),
			_=> sortedList
		};
		return sortedList;
	}
	
	
}

